  <section id="addUserSection" class="register-user">
    <h2 class="register-user__title">Cadastro de Usu치rio</h2>
    <h3 class="register-user__subtitle">Preencha o formul치rio a seguir e clique em 'Adicionar Usu치rio'</h3>
    <form action="" method="POST" class="form">
      <div class="form__input-container">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Benedito">
      </div>
      <div class="form__input-container">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" name="sobrenome" id="sobrenome" required placeholder="Calixto">
      </div>
      <div class="form__input-container">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="bene@dito.com">
      </div>
      <div class="form__btns">
        <button>Adicionar Usu치rio</button>
      </div>
    </form>
  </section>