:root {
  --amarelo: #ffc400;
  --azul: #00B7FF;
  --branco: #fff;
  --chumbo: #3e3e3e;
  --cinza: #eee;
  --preto: #000;
  --vermelho: #ff0055;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--azul);
  text-decoration: none;
}

.header,
.footer {
  background-color: var(--azul);
  color: var(--branco);
  margin: 0;
  max-height: 76px;
  min-height: 40px;
  padding: 16px;
  text-align: center;
  width: -webkit-fill-available;
}

.header__title {
  font-size: 16px;
}

.footer__title {
  font-size: 14px;
  font-weight: bolder;
}

main {
  min-height: calc(100vh - 180px);
  padding: 16px;
}

.main-section__title {
  font-size: 24px;
}

.main-section__subtitle {
  color: var(--chumbo);
  font-size: 20px;
}

.main-section__description {
  color: var(--chumbo);
  font-size: 16px;
}

.users-table {
  font-weight: bold;
  margin: 24px auto;
}

.users-table thead {
  background-color: var(--azul);
  color: var(--branco);
}

.users-table th,
.users-table td {
  padding: 6px 12px;
}

.users-table [class*="--btn"] {
  border: none;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  padding: 6px 12px;
}

.users-table [class*="--btn"]:hover {
  cursor: pointer;
}

.users-table .user__see--btn {
  background-color: var(--azul);
  color: var(--branco);
}

.users-table .user__see--btn:hover {
  background-color: var(--chumbo);
  color: var(--azul);
}

.users-table .user__edit--btn {
  background-color: var(--amarelo);
  color: var(--chumbo);
}

.users-table .user__edit--btn:hover {
  background-color: var(--chumbo);
  color: var(--amarelo);
}

.users-table .user__delete--btn {
  background-color: var(--vermelho);
  color: var(--branco);
}

.users-table .user__delete--btn:hover {
  background-color: var(--chumbo);
  color: var(--vermelho);
}

.register-user,
.edit-user {
  display: block;
  margin: 16px auto;
}

.register-user__title,
.edit-user__title {
  font-size: 24px;
}

.register-user__subtitle,
.edit-user__subtitle {
  color: var(--chumbo);
  font-size: 20px;
}

.register-user .form,
.edit-user .form {
  margin: 24px auto;
  min-width: max-content;
  width: 25vw;
}

.register-user .form__input-container,
.edit-user .form__input-container {
  display: block;
  margin: 16px auto;
}

.register-user .form__input-container label,
.edit-user .form__input-container label {
  color: var(--chumbo);
}

.register-user .form__input-container input,
.edit-user .form__input-container input {
  padding: 4px 8px;
  width: -webkit-fill-available;
}

.form__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.form__btns button {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  margin: 8px 0;
  padding: 8px 16px;
}

.form__btns button:hover {
  background-color: var(--chumbo);
  color: var(--branco);
  cursor: pointer;
}